.container{
    background-color: #aaa;
  }
  .card1{
      background-color: rgb(199, 199, 188);
  }
  .card2{
      background-color: rgb(240, 11, 11);
  }
  .card3{
      background-color: rgb(43, 41, 67);
  }.card4{
      background-color: rgb(230, 11, 230);
  }
  .card5{
      background-color:rgb(119, 68, 16);
  }
 